

.item {
  border: 1px solid #ddd;
  margin-bottom: 40px;
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}

.info {
  padding: 10px;;
}