@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  color: #fff;
  padding: 20px;
  font-family: 'Golos Text', sans-serif;
}

.car-item {
  border: 1px solid gray;
}

h1 {
  margin-bottom: 20px;
}

.info p {
  margin-bottom: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all .3s ease;
  cursor: pointer;
  margin-top: 10px;
  background-color: #fff;
  color: #111;
  max-width: 140px;
  text-decoration: none;
}

.btn:hover {
  background-color: #bacff7;
}